<div class="card mt-4">

  <div class="card-header">
    Create New Blog Post
  </div>

  <div class="card-body">
    <%= render partial: 'form', locals: { blog_post: @blog_post} %>
  </div>

</div>

